
@{
    ViewData["Title"] = "muestrareceta";
}


<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-lg-6">
                    <h3 class="product-title">
                        @ViewData["plNombre"]h3>

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
                    </div>
            </div>
            <div class="details col-lg-6">
                <br>
                <br>
                @if (ViewData["plVegano"] != null)
                {
                    int vegano = int.Parse(ViewData["plVegano"].ToString());
                    if (vegano == 1)
                    {
                        <label>Vegano:<i class="fa fa-check" aria-hidden="true"></i></label>
                    }
                    else
                    {
                        <label>Vegano:<i class="fa fa-times" aria-hidden="true"></i></label>
                    }
                }
                @if (ViewData["plVegetariano"] != null)
                {
                    int vegetariano = int.Parse(ViewData["plVegetariano"].ToString());
                    if (vegetariano == 1)
                    {
                        <label>Vegetariano:<i class="fa fa-check" aria-hidden="true"></i></label>
                    }
                    else
                    {
                        <label>Vegetariano:<i class="fa fa-times" aria-hidden="true"></i></label>
                    }
                }
                @if (ViewData["plCeliaco"] != null)
                {
                    int vegetariano = int.Parse(ViewData["plCeliaco"].ToString());
                    if (vegetariano == 1)
                    {
                        <label>Celiaco:<i class="fa fa-check" aria-hidden="true"></i></label>
                    }
                    else
                    {
                        <label>Celiaco:<i class="fa fa-times" aria-hidden="true"></i></label>
                    }
                }
                @if (ViewData["plLacteo"] != null)
                {
                    int vegetariano = int.Parse(ViewData["plLacteo"].ToString());
                    if (vegetariano == 1)
                    {
                        <label>Lacteos:<i class="fa fa-check" aria-hidden="true"></i></label>
                    }
                    else
                    {
                        <label>Lacteos:<i class="fa fa-times" aria-hidden="true"></i></label>
                    }
                }
                <label>Tiempo de Preparación: @ViewData["plTiempo"]</label>
                <label>Valor Calórico: @ViewData["plCalorias"]</label>
            </div>
        </div>
        <p class="product-description">
            Ingredientes:
            <br>
            @ViewData["plingredientes"]
        </p>
        <p class="product-description">
            Receta:
            <br>
            @ViewData["plreceta"]
        </p>
    </div>
</div>
</div>
