
@{
    ViewData["Title"] = "Presentacion";
}

<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <h2 class="w3-center">Manual Slideshow</h2>

    <div class="w3-content w3-display-container">
        <img class="mySlides" src="~/images/Diapositiva1.jpg" style="width:100%">
        <img class="mySlides" src="~/images/Diapositiva2.jpg" style="width:100%">
        <img class="mySlides" src="~/images/Diapositiva3.jpg" style="width:100%">
        <img class="mySlides" src="~/images/Diapositiva4.jpg" style="width:100%">
        <img class="mySlides" src="~/images/Diapositiva5.jpg" style="width:100%">
        <img class="mySlides" src="~/images/Diapositiva6.jpg" style="width:100%">
        <img class="mySlides" src="~/images/Diapositiva7.jpg" style="width:100%">
        <img class="mySlides" src="~/images/Diapositiva8.jpg" style="width:100%">
        <img class="mySlides" src="~/images/Diapositiva9.jpg" style="width:100%">

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>

    <script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
showDivs(slideIndex += n);
}

function showDivs(n) {
var i;
var x = document.getElementsByClassName("mySlides");
if (n > x.length) {slideIndex = 1}
if (n < 1) {slideIndex = x.length}
for (i = 0; i < x.length; i++) {
x[i].style.display = "none";
}
x[slideIndex-1].style.display = "block";
}
    </script>

</body>
</html>