textarea {
    resize: none;
}

.menubtngrpwidth{
width:100%;
}
.menuwidth{
width:90%;  
}
.panelingredientes{
    
    
}

.panelcheck{  
}



.bs-calltoaction {
    position: relative;
    width: auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#logoimg{}

    .bs-calltoaction > .row {
        display: table;
        width: calc(100% + 30px);
    }

        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"] {
            float: none;
            display: table-cell;
            vertical-align: middle;
        }

.cta-contents {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cta-title {
    margin: 0 auto 15px;
    padding: 0;
}

.cta-desc {
    padding: 0;
}

.cta-desc p:last-child {
        margin-bottom: 0;
}

.cta-button {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*@media (max-width: 991px) {
    .bs-calltoaction > .row {
        display: block;
        width: auto;
}*/

.bs-calltoaction > .row > [class^="col-"],
.bs-calltoaction > .row > [class*=" col-"] {
    float: none;
    display: block;
    vertical-align: middle;
    position: relative;
}

.cta-contents {
    text-align: center;
}

.bs-calltoaction.bs-calltoaction-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.bs-calltoaction.bs-calltoaction-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
.bs-calltoaction.bs-calltoaction-info .cta-button .btn,
.bs-calltoaction.bs-calltoaction-success .cta-button .btn,
.bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
.bs-calltoaction.bs-calltoaction-danger .cta-button .btn {
    border-color: #fff;
}

.cuerpo {
    width: 100%;
    height: 8em;
    resize: none;
}

.logopanel{    
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}

.logoimg{
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    padding-left: 15px;
    padding-right: 30px;

    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#nombre{}
#tiempo{}
#calorias{}

#imagenlabel {}

#imagenurl{}

#ingredientes{}

#reset{}

#ingrediente1{}
#ingrediente2{}
#ingrediente3{}
#ingrediente4{}

#recetear{}

#celiaco {}

#lacteos{}

#vegano{}

#vegetariano{}

.aguamarina{
        background-color:rgba( 118, 228, 200, 0.25 );
}

.panelopc{}

.container{
    width: 100%;
}

.aguamarina{
background-color: aquamarine;
}

#menuorden{}
#opcionesorden{}

.mycheckbox{
  margin-top:5px;
  margin-left:5px;
}

.mycheckboxdiv{
   text-align:right;
}

.row{}

.open > .dropdown-menu{
    -webkit-transform:scale(1,1);
    transform: scale(1,1);
    opacity:1;
}

.dropdown-menu{
    opacity: .3;
    -webkit-transform-origin:top;
    transform-origin:top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode:forwards;
    -webkit-transform:scale(1,0);
    display: block;
    transition: all 0.2s linear;
    -webkit-transition:all 0.2s linear;
}

.container-fixed{
    margin:10% auto;
    max-width: 480px;
}

.btn2 {
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    background-color: #403b37;
    border-radius: 6px;
    cursor: pointer;
    display:flex;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: Consolas;
    font-weight: 700;
    padding: 19px 39px 18px;
    font-size: 18px;
}

/*.btn:active{
    transform:translate(0px,5px);
    -webkit-transform:translate(0px, 5px);
    box-shadow: 0px, 1px 0px 0px;
}*/

.green {
    background-color: #40b549;
    border-color: #5FCF80;
}

.green:hover {
        background-color: #4BC970;
        border-color: #3AC162;
        color: #403b37;
}

.red {
    background-color: #cd2602;
    border-color: #d50000;
}

.red:hover {
        background-color: #ce1d1d;
        border-color: #970000;
        color: #403b37;
}

.blue {
    background-color: #080e7d;
    border-color: #080e7d;
}

.blue:hover {
    background-color: #080e7d;
    border-color: #040053;
}

body {
    background: #efeeea;
}

#navbar {
    background-color: #403b37;
    border-color: #3d1301;
    border-radius: 0;
}

#navbar navbar-brand,
#navbar navbar-brand:hover,
#navbar navbar-brand:focus{
    color:#fff;
}

#navbar navbar-nav > li > a{
    color:#fff;
}

#navbar navbar-nav > li > a:hover,
#navbar navbar-nav > li > a:focus {
    background-color: #403b37;
}

#navbar navbar-nav > .active > a,
#navbar navbar-nav > .active > a:hover,
#navbar navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #403b37;
}

#navbar navbar-text{
    color:#fff;
}

#navbar navbar-toggle {
    border-color: #403b37;
}

#navbar navbar-toggle:hover,
#navbar navbar-toggle:focus {
    background-color: #403b37;
}

#stars {
    color: #ee8b2d;
}

.badForm {
    color: #FF0000;
}

.goodForm {
    color: #00FF00;
}

.evaluation {
    margin-left: 30px;
}


#zonaoculta {
    display: none;
}

#menus {
    align-content: right;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #06D85F;
}