
@{
    ViewData["Title"] = "Login";
    

}

<div id="login-form">
    <br>
    <br>
    <br>
    <h2>Login</h2>
    <fieldset>

        <form action="/usuarios/login" name="login" method="post"> <!--action="javascript:void(0);"-->

            <h2>@ViewData["missatge"]</h2>
        
            <input name="email" type="email" required value="Email" onBlur="if(this.value=='')this.value='Email'" onFocus="if(this.value=='Email')this.value='' "> <!-- JS because of IE support; better: placeholder="Email" -->

            <input name="password" type="password" required value="Password" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "> <!-- JS because of IE support; better: placeholder="Password" -->

            <input type="submit" value="Login">

        </form>

    </fieldset>

</div> <!-- end login-form -->

