﻿@model Cocinitas.Models.usuarios

@{
    ViewData["Title"] = "Registro";
}

<div id="registre-form">
    <br>
    <br>
    <br>
    <h2>Crear cuenta</h2>
    <br>
    <form action="/usuarios/registro" name="registro" method="POST" onSubmit="return validar();">

        <h2>@ViewData["missatge"]</h2>

        <div class="form-group">
            <label for="nombre">Nombre de usuario</label>
            <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" required="required">
        </div>
        <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Correo electrónico" required="required">
        </div>
        <div class="form-group">
            <label for="password">Contraseña (debe incluir 6 carácteres entre letras mayúsculas y minúsculas y números)</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Contraseña" required="required">
        </div>
        <div class="form-group">
            <label for="confirarpwd">Confirmar contraseña</label>
            <input type="password" class="form-control" id="confirmarpwd" placeholder="Contraseña" required="required">
        </div>
        <br>
        <label for="preferencias">Preferencias</label>
        <br>
        <div class="checkbox">
            <label>
                <input name="ivegetariano" type="checkbox"> Soy vegetariano
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="ivegano" type="checkbox"> Soy vegano
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="iceliaco" type="checkbox"> Soy celiaco
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="ilacteos" type="checkbox"> Soy intolerante a la lactosa
            </label>
        </div>
        <br>
        <label for="condiciones">Al identificarte, aceptas nuestras Condiciones de uso, nuestro Aviso de privacidad y nuestras Condiciones de Cookies y publicidad en Internet.</label>
        <br>
        <button type="submit" class="btn btn-default">Confirmar</button>
        <br>
        <br>
        <label for="yaregistrado">¿Ya tiene una cuenta? </label>
        <a href="/usuarios/login">Iniciar sesión</a>

    </form>
</div>

<script type="text/javascript">

    var espacios = false;
    var cont = 0;
    var re = /^\w+$/;

    function validar() {


        var p1 = document.getElementById("password").value;
        var p2 = document.getElementById("confirmarpwd").value;
        var nom = document.getElementById("nombre").value;

        //Verificar nombre de usuario
        if (!re.test(nom)) {
            alert("Error: El nombre de usuario sólo puede incluir letras, números y guiones");
            return false;
        }
        //Verificar contraseña
        if (p1 != " " && p1 == p2) {
            if (p1.length < 6) {
                alert("Error: La contraseña debe incluir como mínimo 6 carácteres");
                return false;
            }
            if (p1 == nom) {
                alert("Error: La contraseña debe ser diferente del nombre de usuario");
                return false;
            }
            re = /[0-9]/;
            if (!re.test(p1)) {
                alert("Error: La contraseña debe incluir como mínimo un número (0-9)");
                return false;
            }
            re = /[a-z]/;
            if (!re.test(p1)) {
                alert("Error: La contraseña debe incluir como mínimo una letra minúscula (a-z)!");
                return false;
            }
            re = /[A-Z]/;
            if (!re.test(p1)) {
                alert("Error: La contraseña debe incluir como mínimo una letra mayúscula (A-Z)!");
                return false;
            }
        } else {
            alert("Error: Las contraseñas deben coinicidir. No se pueden añadir espacios en blanco");
            return false;
        }
        return true;
    }

</script>

